@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Work Sans";
  padding: 0;
  margin: 0;
}
:root {
  --Dark-02: #424242;
  --Dark-01: #131313;
}
.display-flex {
  display: flex;
}
.header {
  background: rgba(255, 144, 14, 0.1);
  height: auto;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-right: 20px;
}
.nav-link {
  text-decoration: none;
  color: var(--Dark-02);
  font-size: 1.125rem;
}
.nav-txt {
  color: var(--Dark-01);
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* banner section start from here  */
.m-b{
    margin-bottom: 50px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-txt{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
.banner-tittle{
    color: var(--Dark-01);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 120px;
}
.btn-primary{
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    color: #ffff;
    font-size: 1.25rem;
    font-weight: 600;
}
.banner-img{
    width: 100%;
}
/* responsibe media query */
@media screen and (max-width: 576px){
    .navbar, .nav-links{
        flex-direction: column;
    }
}